* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont1{
    color: #1F2937;
    display : flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 30px 150px;

}

.cont11{
    font-size: 24px;
    gap : 100px;
    display : flex;
    justify-content: flex-end;
    color: #F9FAF8;

}

.cont12{
    display: flex;
    gap: 18px;
    font-size: 24px;
    color: #E5E7EB;
}


.cont2{
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 30px 150px;
    align-items: center;

}

.cont21{
    width: 400px;
    align-items: center;
}

.cont211{
   
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#p1{
    text-align: center;
    font-size: 30px;
    background-color: #E5E7EB;
    margin:  0;
    padding: 30px 0;
}

.c3{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #E5E7EB;
}

img{
    width : 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 200px;

}
.c1{
    text-align: center;
}

.c2{
    display: flex;
    width: 200px;
    justify-content: center;
    margin-bottom: 50px;
    gap: 40px;
    background-color: #E5E7EB;
    
}

.c4{
    background-color: #E5E7EB;
    padding: 80px 200px;
    margin-bottom: 0px;
}

.quote{
    font-weight: 800;
    font-size: 30px;
    color: #1F2937;
    display:flex;
}

#c9{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #1F2937;
}

.c5{
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border: 4px solid rgb(45, 42, 43);
    border-radius: 20px;
}

.c10{
    background-color: #E5E7EB;
}


#bt{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 15px;
    border: k
}



